
<!-- BACKGROUND -->
<div class="bg-login">
    <!-- FORM AND LOGIN -->
    <div class="card-login">
        <!-- IMAGE LOG -->
        <div class="col-left">
            <div class="login-img">adfad</div>
        </div>
        <!-- FORM -->
        <div class="col-right">
            <div>
                <h1>¡Rehobot!</h1>
                <h2>Ferreteria</h2>
            </div>
            <!-- FORM -->
            <div>
                <form>
                    <div>
                        <input type="text" name="" id="">
                        <label for="">Username</label>
                    </div>
                    <div>
                        <input type="password" name="" id="">
                        <label for="">Contraseña</label>
                    </div>
                    <div>
                        <button type="button">Iniciar Sesion</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
