<main>
    <div>
        <app-topbar/>
        <app-sidebar/>

        <!-- CONTENT -->
        <div class='content-wrapper'>
            <div class="container-fluid">
                <button (click)="showSb()">SHOW</button>
                <p>Muestra: {{showSidebar}}</p>
                <a href="">adfaff</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae 
                    distinctio pariatur adipisci quas facilis ducimus tempora ex, 
                    assumenda ipsa sint omnis tenetur maiores maxime excepturi quisquam 
                    voluptate ut necessitatibus veniam?</p>
            </div>
        </div>
    </div>
</main>