<app-dashboard>
    <div class="col p-0">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-center">
                        <h2 class="h5 font-weight-bold color-primary">Realizar Venta</h2>
                    </div>
                    <div class="card-body">
                        <form class="row" [formGroup]="invoiceForm">
                            <div class="col-12 mb-4">
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-success btn-sm" [disabled]="invoiceForm.invalid || listProductSale.length==0" (click)="openModalFinalizeSale()">Finalizar</button>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 mb-4">
                                <div class="textfield">
                                    <label for="nit">NIT</label>
                                    <input type="text" name="nit" id="nit" [placeholder]="'NIT'" formControlName="nit" (change)="changeNit($event)">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 mb-4">
                                <div class="textfield">
                                    <label for="date">Fecha</label>
                                    <input type="date" name="date" id="date" [placeholder]="'Fecha'" formControlName="date">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 mb-4">
                                <div class="textfield">
                                    <label for="tel">Telefono</label>
                                    <input type="text" name="tel" id="tel" [placeholder]="'Telefono'" formControlName="tel">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <div class="textfield">
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" id="name" [placeholder]="'Nombre'" formControlName="name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <div class="textfield">
                                    <label for="address">Direccion</label>
                                    <input type="text" name="address" id="address" [placeholder]="'Direccion'" formControlName="address">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="container-table table-responsive-lg table-card-md table-hover">
                                    <table class="table mb-4" >
                                        <thead>
                                            <tr>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-left">Codigo</th>
                                                <th class="text-center">Dimension</th>
                                                <th class="text-left">Descripcion</th>
                                                <th class="text-center">Precio Unitario</th>
                                                <th class="text-center">Monto</th>
                                                <th class="text-right">Options</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @for (item of listProductSale; track $index) {
                                                <tr>
                                                    <td class="text-center" data-label="Cantidad">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="col-12 p-0">
                                                                <div class="textfield">
                                                                    <input type="number" [value]="item.amount.toFixed(2)" (change)="changeAmount($event, $index)" step="0.01">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left" data-label="Dimension">{{item.product.code}}</td>
                                                    <td class="text-center">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="col-12 p-0">
                                                                <div class="textfield">
                                                                    <div class="custom-select">
                                                                        <select class="select-list"  (change)="changeMeasure($event, $index)">
                                                                            @for (itemDim of item.product.assignmentMeasureList; track $index) {
                                                                                <option [value]="$index" [selected]="itemDim.isBase">{{itemDim.measurementUnit?.name}}</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-left" data-label="Descripcion">{{item.description}}</td>
                                                    <td class="text-center" data-label="Precio Unitario">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="col-12 p-0">
                                                                <div class="textfield">
                                                                    <input type="number" [value]="item.unitPrice.toFixed(2)" (change)="changePrice($event, $index)" step="0.01">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center" data-label="Monto">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="col-12 p-0">
                                                                <div class="textfield">
                                                                    <input type="number" [value]="item.subTotal.toFixed(2)" (change)="changeSubTotal($event, $index)" step="0.01">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" data-label="Borrar">
                                                        <div class="d-flex flex-row align-items-center justify-content-end">
                                                            <div class="col-auto p-0">
                                                                <button class="btn btn-sm color-danger" (click)="deleteProductSale($index)">
                                                                    <span class="icon">
                                                                        <fa-icon [icon]="iconDelete">Delete</fa-icon>
                                                                    </span>
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                            <tr>
                                                <td class="text-left">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="d-flex justify-content-center">
                                                        <span>---</span>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <div class="d-flex flex-row align-items-center justify-content-end">
                                                        <button class="btn btn-sm color-success" (click)="openModalInventory()">
                                                            <span class="icon">
                                                                <fa-icon [icon]="iconPlus">Add</fa-icon>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th class="text-left"> </th>
                                                <th class="text-left"> </th>
                                                <th class="text-center"> </th>
                                                <th class="text-left"> </th>
                                                <th class="text-right"><span class="typography-body2">Total:</span> </th>
                                                <th class="text-right"><span class="typography-body1">Q {{total.toFixed(2)}}</span></th>
                                                <th class="text-right"> </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal [isAutoClose]="true" [showFooter]="true" [alignItems]="'start'" [sizeTag]="'col-12 col-lg-10'" [showTitle]="false" #modalInventory>
        <div class="col p-0">
            <app-inventory-list (addProductEvent)="receiveProduct($event)"/>
        </div>
    </app-modal>

    <app-modal [isAutoClose]="true" [showFooter]="true" [alignItems]="'start'" [sizeTag]="'col-12 col-lg-10'" #modalFinalize>
        <div class="col p-0">
            <app-sale-finalize-list 
            [total]="total"
            [saleInvoice]="sale" 
            [listProductSale]="listProductSale"
            (isCloseModalEvent)="closeModalFinalizeSale($event)"
            (isFinalizeCompleteEvent)="finalizeComplete($event)"
            (isFinalizeIncompleEvent)="finalizeIncomplete($event)"
            />
        </div>
    </app-modal>

    <app-modal [isAutoClose]="true" [showFooter]="true" [alignItems]="'center'" [sizeTag]="'col-10 col-sm-6 col-md-4'" #modalMsg>
        <p class="text-wrap text-uppercase">
            {{msg}}
        </p>
    </app-modal>
</app-dashboard>
